<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.balsdon.accessibilityDeveloperService">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:description="@string/app_description"
        android:theme="@style/Theme.AccessibilityActions">
        <activity
            android:name="com.balsdon.accessibilityDeveloperService.DemoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AccessibilityActions.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.balsdon.accessibilityDeveloperService.AccessibilityDeveloperService"
            android:enabled="true"
            android:label="@string/accessibility_service_label"
            android:description="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <receiver
            android:name="com.balsdon.accessibilityBroadcastService.AccessibilityActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.balsdon.talkback.accessibility" />
            </intent-filter>
        </receiver>
    </application>

</manifest>